<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zakłady "u Henia"</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
{% load static %}
{% load i18n %}

<div class="container">
  <div class="page-header">
     <h1>Zakłady "u Henia"</h1>
  </div>

  <div class="menu">
      <p style="text-align:right;">Login:  <b>{{request.user.username}}</b></p>
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans "Klasyfikacja" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% for tournament in tournaments %}
                    <li><a href="{% url 'tournament' tournament_name=tournament.name %}"> {{ tournament.name }} </a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans "Typowanie" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'vote_form' %}">{% trans "Obstaw" %}</a></li>
                <li><a href="{% url 'vote_change_form' %}">{% trans "Zmień" %}</a></li>
                <li><a href="{% url 'too_late_to_bet' %}">{% trans "Spóźnione" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'simulation' %}">{% trans "Symulacja" %}</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans "Podgląd" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'my_results' %}">{% trans "Moje wyniki" %}</a></li>
                <li><a href="{% url 'other_results' %}">{% trans "Pozostali gracze" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'ongoing_match_bets' %}">{% trans "Mecze nierozegrane" %}</a></li>
                <li><a href="{% url 'finished_match_bets' %}">{% trans "Mecze zakończone" %}</a></li>
            </ul>
        </li>

        <li class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans "Inne" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'info' %}">{% trans "Info" %}</a></li>
                <li><a href="{% url 'history' %}">{% trans "Historia" %}</a></li>
                <li><a href="{% url 'change_password' %}">{% trans "Zmiana hasła" %}</a></li>
                <li><a href="{% url 'change_email' %}">{% trans "Zmiana email" %}</a></li>
                <li><a href="{% url 'language_change' %}">{% trans "Zmiana jezyka" %}</a></li>
                <li><a href="{% url 'change_notification' %}">{% trans "Powiadomienia" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">{% trans "Wylogowanie" %}</a></li>
            </ul>
        </li>
    </ul>
  </div>
<br>
</div>

{% block content %}{% endblock %}

</body>
</html>