<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=0.3">
    <title>Zaklady bukmacherskie</title>
</head>

<body>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tournament/menu.css' %}" />

<h1>Zaklady bukmacherskie "u Henia"</h1>

<ol>
    <li><a href="#">Klasyfikacja</a>
      <ul>
          {% for tournament in tournaments %}
            <li><a href="{% url 'tournament' tournament_name=tournament.name %}"> {{ tournament.name }} </a></li>
          {% endfor %}
      </ul>
    </li>

    <li><a href="#">Typowanie</a>
      <ul>
        <li><a href="{% url 'my_results' %}">Moje wyniki</a></li>
        <!-- <li><a href="{% url 'vote_overview' %}">Obstaw</a></li>-->
        <li><a href="{% url 'vote_form' %}">Obstaw</a></li>
        <li><a href="{% url 'vote_change_form' %}">Zmień</a></li>
        <li><a href="{% url 'too_late_to_bet' %}">Spóźnione</a></li>
        <li><a href="{% url 'simulation' %}">Symulacja</a></li>
      </ul>
    </li>

    <li><a href="#">Podgląd</a>
      <ul>
        <li><a href="{% url 'other_results' %}">Gracz</a></li>
        <li><a href="{% url 'ongoing_match_bets' %}">Mecze nierozegrane</a></li>
        <li><a href="{% url 'finished_match_bets' %}">Mecze zakonczone</a></li>
      </ul>
    </li>

     <li><a href="#">Inne</a>
      <ul>
        <li><a href="{% url 'info' %}">Info</a></li>
        <li><a href="{% url 'history' %}">Historia</a></li>
        <!-- <li><a href="{% url 'auth_password_change' %}">Change password</a></li>-->
        <li><a href="{% url 'change_password' %}">Change password</a></li>
        <li><a href="{% url 'auth_logout' %}">Logout</a></li>

      </ul>
    </li>

  </ol>

<br>

{% block content %}{% endblock %}

</body>
</html>