{% load i18n %}
{% load filters %}

{% if points_per_user %}

    {% for tournament_name, rounds in points_per_user.items %}

        <h4> {% trans "Klasyfikacja Generalna" %}</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Miejsce" %}</th>
                        <th>+/-</th>
                        <th>{% trans "Gracz" %}</th>
                        <th>{% trans "Punkty" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for place, change, user, points in rounds.GeneralClassification  %}
                        {% if place == 1 %} <tr bgcolor="gold">
                        {% elif place == 2 %} <tr bgcolor="silver">
                        {% elif place == 3 %} <tr bgcolor="peru">
                        {% else %} <tr bgcolor="#FAFAFA">
                        {% endif %}
                        <td>{{ place }}</td>
                        <td>{{ change | unicode_escape}}</td>
                        <td>{{ user }} </td>
                        <td> {{ points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

      {% if general_classification_only %}
      {% else %}
        {% for round,  user_scores in rounds.items %}
            {% if round != "GeneralClassification" %}
                {% if round == "CP" %} <h4> {% trans "Faza Pucharowa" %} </h4>
                {% else %} <h4>{% trans "Runda" %} {{ round }}</h4>
                {% endif %}

                 <div class="table-responsive">
                    <table class="table">
                     <thead>
                        <tr>
                            <th>{% trans "Miejsce" %}</th>
                            <th>+/-</th>
                            <th>{% trans "Gracz" %}</th>
                            <th>{% trans "Punkty" %}</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for place, change, user, points in user_scores %}
                            {% if place == 1 %} <tr bgcolor="gold">
                            {% elif place == 2 %} <tr bgcolor="silver">
                            {% elif place == 3 %} <tr bgcolor="peru">
                            {% else %} <tr bgcolor="#FAFAFA">
                            {% endif %}
                            <td>{{ place }}</td>
                            <td>{{ change | unicode_escape }}</td>
                            <td>{{ user }} </td>
                            <td> {{ points }}</td>
                            </tr>
                        {% endfor %}
                     </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

{% else %}
    <div class="alert alert-info">
    <strong>{% trans "Info!" %}</strong> {% trans "Żaden mecz się jeszcze nie zakończył - brak klasyfikacji." %}
    </div>
{% endif %}
