{% extends "tournament/base.html" %}

{% block content %}

<div class="container">

    {% if form.no_matches %}
        <div class="alert alert-warning">
            Żaden mecz się jeszcze nie zakończył
        </div>
    {% else %}

        <div class="alert alert-info">
            Wybierz mecz dla którego chcesz zobaczyć zakłady
        </div>

        <form method="POST" action=".">
            {% csrf_token %}
            <p>Wybierz mecz       {{form.choose_match_field}} </p>
        </form>
        {% endif %}

    {% if results == None  %}
    {% elif results %}
         <div class="alert alert-success">
            Zakłady dla meczu  <strong>{{ match.teams_to_string }}</strong>
        </div>

        <p>Turniej: {{ match.tournament }}</p>
        <p>Runda: {{ match.round }}</p>
        <p>Data meczu: {{match.match_date|date:"P D d M Y"}}</p>
        <p>Koncowy wynik meczu: {{ match.final_result_to_str }}</p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Gracz</th>
                        <th>{{ match.home_team.name }}</th>
                        <th>{{ match.away_team.name }}</th>
                        <th>Punkty</th>
                    </tr>
                </thead>
                <tbody>
                {% for user, expected_home_goals, expected_away_goals, score  in results %}
                    {% if score == 3 %}  <tr bgcolor="lightgreen">
                    {% elif score == 1 %} <tr bgcolor="wheat">
                    {% else %} <tr bgcolor="#FAFAFA">
                    {% endif %}

                        <td>{{ user }}</td>
                        <td>{{ expected_home_goals  }}</td>
                        <td>{{ expected_away_goals }}</td>
                        <td>{{ score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <div class="alert alert-danger">
            Nikt nie obstawił meczu <strong>{{ match.teams_to_string }}</strong>
        </div>
    {% endif %}

</div>
{% endblock %}