{% extends "tournament/base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>Witamy u najlepszego bukmachera w miescie - "u Henia"</h2>
    <p>Jestes zalogowany jako: {{request.user.username}}</p>
  </div>
  <p> Wszelkie komentarze mile widziane. Można je przesyłać na adres mailowy: TeamHenio@gmail.com </p>
  <p> Proszę zgłaszać:
    <br>- Błędy (źle działa, nie działa)
    <br>- Usprawnienia (dana funkcjonalność mogłaby wyglądać lepiej itp.)
    <br>- Pomysły na nowe funkcjonalnosci
  </p>
</div>
{% endblock %}