{% extends "tournament/base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>Regulamin:</h2>
    <li> Można obstawiać na godz przed rozpoczęciem danego meczu</li>
    <li> Można zmieniać wynik też na godz przed rozpoczęciem meczu</li>
    <li> Za kazde prawidłowe wytypowanie meczu gracz otrzymuje 3 punkty (trzeba trafić dokladny wynik) </li>
    <li> Jeśli nie wytypowaniśmy prawidłowo wyniku meczu ale dobrze obstawilismy zwyciężce (badź remis) otrzymujemy 1 punkt </li>
    <li> Wyniki przeliczane są per runde (kolejkę) oraz podawana jest generalna klasyfikcja </li>
  </div>

  <br>
</div>
{% endblock %}
