{% extends "tournament/base.html" %}

{% block content %}
  <p>* Mozna obstawiac na godz przed rozpoczeciem danego meczu</p>
  <p>* Mozna zmieniac wynik tez na godz przed rozpoczeciem meczu</p>
  <p>* Za kazde prawidlowe wytypowanie meczu gracz otrzymuje 3 punkty (trzeba trafic dokladny wynik) </p>
  <p>* Jesli nie wytypowanismy prawidlowo wyniku meczu ale dobrze obsawilismy zwyciezce (badz remis) otrzymyjemy 1 punkt </p>
  <p>* Wyniki przeliczane sa per runde (kolejke) oraz podawana jest generalna klasyfikcja </p>
  <br>
  <p>* Czesc funkcji jeszcze nie dziala - do not worry - pracuja nad tym najlepsi ludzie ;)</p>

{% endblock %}
