{% extends "tournament/base.html" %}
{% load i18n %}

{% block content %}

<div class="container">

    {% if form.no_matches %}
        <div class="alert alert-warning">
            {% trans "Wszystkie mecze zostały rozegrane." %}
        </div>
    {% else %}
        <div class="alert alert-info">
            {% trans "Wybierz mecz dla którego chcesz zobaczyć zakłady" %}
        </div>

        <form method="POST" action=".">
            {% csrf_token %}
            <p>{% trans "Wybierz mecz" %}       {{form.choose_match_field}} </p>
        </form>
    {% endif %}

    {% if bets == None  %}
    {% elif bets %}
        <div class="alert alert-success">
            {% trans "Zakłady dla meczu" %}  <strong>{{ match.teams_to_string }}</strong>
        </div>

        <p>{% trans "Turniej:" %} {{ match.tournament }}</p>
        <p>{% trans "Runda:" %} {{ match.round }}</p>
        <p>{% trans "Data meczu:" %} {{match.match_date|date:"P D d M Y"}}</p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Gracz" %}</th>
                    <th>{{ match.home_team.name }}</th>
                    <th>{{ match.away_team.name }}</th>
                </tr>
            </thead>
            <tbody>
                {% for bet in bets %}
                    {% if  bet.expected_home_goals > bet.expected_away_goals %}  <tr bgcolor="#B6B6B4">
                    {% elif bet.expected_home_goals < bet.expected_away_goals %} <tr bgcolor="#C9C0BB">
                    {% else %} <tr bgcolor="#FFFFFF">
                    {% endif %}
                        <td>{{ bet.user }}</td>
                        <td>{{ bet.expected_home_goals }}</td>
                        <td>{{ bet.expected_away_goals }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
        <div class="alert alert-danger">
            {% trans "Nikt nie obstawił meczu" %} <strong>{{ match.teams_to_string }}</strong>
        </div>
    {% endif %}

</div>
{% endblock %}