{% extends "tournament/base.html" %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tournament/table.css' %}" />


<p>Symuluj wynik meczu i sprawdz jak zmieni sie klasyfikacja</p>
<form method="POST" action=".">
    {% csrf_token %}
    <p>Wybierz mecz       {{form.choose_match_field}} </p>
    <p>I wytypuj wynik.    Gospodarze         {{form.ht_goals}}    Goscie             {{form.at_goals}} </p>
    <input type=submit value="Send Request">
</form>

{% if points_per_user %}

  <h4>Symulacja klasyfikacji</h4>
  {% include "classification_table.html" %}

{% endif %}

{% endblock %}