{% extends "tournament/base.html" %}

{% block content %}

<div class="container">

    {% if form.no_matches %}
        <div class="alert alert-info">
            Symulacja jest tylko dla nierozegranych meczy. Nie ma co symulować, wszystkie mecze się zakończyły
        </div>
    {% else %}
        <div class="alert alert-info">
            Symuluj wynik meczu i sprawdź jak zmieni się klasyfikacja turniejowa.
        </div>

        <form method="POST" action=".">
            {% csrf_token %}
            <p>Wybierz mecz       {{form.choose_match_field}} </p>
        </form>
    {% endif %}

</div>
{% endblock %}