{% extends "tournament/base.html" %}
{% load i18n %}

{% block content %}

<div class="container">

    {% if too_late  %}
        <div class="alert alert-danger">
            {% trans "Spoźniłeś się z obstawieniem następujących meczy:" %}</a>
        </div>

    <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                 <th>{% trans "Turniej" %}</th>
                  <th>{% trans "Mecz" %}</th>
                  <th>{% trans "Data meczu" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for match in too_late %}
                <tr>
                    <td>{{match.tournament}}</td>
                    <td> <img src={{ match.home_team.flag }}>
                        {{ match.home_team.name }} - {{ match.away_team.name }}
                        <img src={{ match.away_team.flag }}> </td>
                    <td> {{match.match_date }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>


    {% else %}

        <div class="alert alert-success">
            <strong>{% trans "Success!" %}</strong> {% trans "Tak trzymać. Wszystkie mecze obstawione na czas." %}
        </div>

{% endif %}

</div>
{% endblock %}