{% extends "tournament/base.html" %}

{% block content %}

{% if too_late  %}
    <h3 style="color:blue">Spozniles sie z obstawianiem meczy:</h3>
    {% for match in too_late %}
        <h4>
            {{match.tournament}} ---->
            <img src={{ match.home_team.flag }}>
            {{ match.home_team.name }} - {{ match.away_team.name }}
            <img src={{ match.away_team.flag }}>
            ----> {{match.match_date }}
        </h4>
    {% endfor %}

{% else %}
    Tak trzymac. Wszystkie mecze obstawione na czas.
{% endif %}


{% endblock %}