{% extends "tournament/base.html" %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tournament/table.css' %}" />

<h2>Wyniki turnieju "{{ tournament_name }}"</h2>

{% for tournament in tournaments %}
    {% if tournament.name == tournament_name%}
        {% if tournament.active %}
            <p> Status: Turniej jest wciaz aktywny</p>
        {% else %}
            <p> Status: Turniej zakonczony - klasyfikacja koncowa</p>
        {% endif %}
    {% endif %}
{% endfor %}


{% for tournament_name, rounds in points_per_user.items %}
  {% for round, user_scores in rounds.items %}
        <h4>Wyniki rundy {{ round }}</h4>
            <table>
                <tr>
                    <th>Place</th>
                    <th>User</th>
                    <th>Score</th>
                </tr>
        {% for place, user, points in user_scores %}

                <tr>
                    <td align="center" valign="middle">{{ place }}</td>
                    <td align="center" valign="middle">{{ user }}</td>
                    <td align="center" valign="middle"> {{ points }}</td>
                </tr>
        {% endfor %}
        </table>
  {% endfor %}
{% endfor %}




{% endblock %}