{% extends "tournament/base.html" %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tournament/table.css' %}" />

<h2>Wyniki turnieju "{{ tournament_name }}"</h2>

{% for tournament in tournaments %}
    {% if tournament.name == tournament_name%}
        {% if tournament.active %}
            <p> Status: Turniej jest wciaz aktywny</p>
        {% else %}
            <p> Status: Turniej zakonczony - klasyfikacja koncowa</p>
        {% endif %}
    {% endif %}
{% endfor %}

{% include "classification.html" %}

{% endblock %}