{% extends "tournament/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    {% load filters %}

    {% if matches_to_bet  %}

    <div class="alert alert-info">
        {% trans "Mecze do obstawienia:" %}
    </div>

    <form method="POST">
        <fieldset class="module aligned">
            {% csrf_token %}

            {% for key,value in form.errors.items %}
                <div class="alert alert-danger"><strong>{% trans "Zakłady nie zostały przyjęte!" %} </strong>
                    {% trans "Błędne typownie dla" %} <strong>{{ key|team_name_from_error }}</strong>
                    <ul class="errorlist"><li> {% trans "Upewnij się że nie wpisałeś więcej niż dwie cyfry." %}</li></ul>
                </div>
            {% endfor %}

        {% for match in matches_to_bet %}
            <div class="alert alert-warning">
                {% for field in form %}
                    {% if match.home_team.name == field.label|team_name and match.id == field.label|match_id|add:0 %}
                        <img src={{ match.home_team.flag }}> {{ field.label|team_name }} {{ field }}&nbsp;&nbsp;:&nbsp;&nbsp;
                    {% endif %}
                {% endfor %}

                {% for field in form %}
                    {% if match.away_team.name ==  field.label|team_name and match.id == field.label|match_id|add:0 %}
                        {{ field }}&nbsp;&nbsp;&nbsp;{{ field.label|team_name }} <img src={{ match.away_team.flag }}>
                        &nbsp;&nbsp;<strong>{% trans "Data meczu:" %}</strong> {{ match.match_date |date:"d M, Y, G:i" }}
                    {% endif %}
                {% endfor %}
            </div>

        {% endfor %}

         <br>
             <input class="btn btn-primary btn-md" type="submit" value="Akceptuj" />
             <a href="{{request.META.HTTP_REFERER|escape}}" id="cancel" name="cancel" class="btn btn-default">{% trans "Powrót" %}</a>
        </fieldset>
        </form>
        <br><br>

{% else %}
    <div class="alert alert-info">
        <strong>{% trans "Info!" %}</strong> {% trans "Brak meczy do obstawienia." %}
    </div>

{% endif %}

</div>
{% endblock %}

