{% extends "tournament/base.html" %}

{% block content %}

<h3 style="color:blue">Ongoing bets: </h3>
{% if ongoing_bets  %}

    {% for bet in ongoing_bets %}
        <h4>
            {{bet.match.tournament}} ---->
            <img src={{ bet.match.home_team.flag }}>
            {{ bet.match.home_team.name }}
            {{ bet.expected_home_goals }} : {{ bet.expected_away_goals }}
            {{ bet.match.away_team.name }}
            <img src={{ bet.match.away_team.flag }}>
        </h4>
    {% endfor %}
    <a href="/tournament/vote_change_form">You can change your bets here</a>
{% else %}
    Nothing
{% endif %}

<h3 style="color:blue">Matches to vote: </h3>

{% if matches_to_bet  %}

    {% for match in matches_to_bet %}
        <h4>
            {{match.tournament}} ---->
            <img src={{ match.home_team.flag }}>
            {{ match.home_team.name }} - {{ match.away_team.name }}
            <img src={{ match.away_team.flag }}>
        </h4>
    {% endfor %}

    <a href="/tournament/vote_form">You can vote here</a>
{% else %}
    Nothig
{% endif %}

<h3 style="color:blue">Finished bets:</h3>

{% if finished_bets  %}

    {% for bet in finished_bets %}
        <h4>
            {{bet.match.tournament}} ---->
            <img src={{ bet.match.home_team.flag }}>
            {{ bet.match.home_team.name }}
            {{ bet.expected_home_goals }} : {{ bet.expected_away_goals }}
            {{ bet.match.away_team.name }}
            <img src={{ bet.match.away_team.flag }}>
            Final result: {{ bet.match.home_goals }} : {{ bet.match.away_goals }}
        </h4>
    {% endfor %}

{% else %}
    Nothig
{% endif %}

<h3 style="color:blue">Too late to bet:</h3>

{% if too_late_to_bet  %}

    {% for match in too_late_to_bet %}
        <h4>
            {{match.tournament}} ---->
            <img src={{ match.home_team.flag }}>
            {{ match.home_team.name }} - {{ match.away_team.name }}
            <img src={{ match.away_team.flag }}>
        </h4>
    {% endfor %}

{% else %}
    Nothig
{% endif %}

{% endblock %}