{% extends "tournament/base.html" %}

{% block content %}
<div class="container">
    {% load filters %}

    {% if matches_to_bet  %}

    <div class="alert alert-info">
        Mecze do obstawienia:
    </div>

    <form method="POST">
        {% csrf_token %}
        {% for match in matches_to_bet %}
            {% for field in form %}
                {% if match.home_team.name == field.label|team_name and match.id == field.label|match_id|add:0 %}
                    <p>{{ field.errors }}<img src={{ match.home_team.flag }}>
                    {{ field.label|team_name }} {{ field }}
                {% endif %}
            {% endfor %}
            :
            {% for field in form %}
                {% if match.away_team.name ==  field.label|team_name and match.id == field.label|match_id|add:0 %}
                    {{ field }} {{ field.label|team_name }} <img src={{ match.away_team.flag }}> {{ field.errors }}
                {% endif %}
            {% endfor %}
            ----> {{match.match_date }}
        <br>
        {% endfor %}

    <input type=submit value="Accept">
    </form>

{% else %}
    <div class="alert alert-info">
        <strong>Info!</strong> Brak meczy do obstawienia.
    </div>

{% endif %}

</div>
{% endblock %}

