{% extends "registration/base.html" %}

{% block title %}Account activated{% endblock %}

{% block content %}
<div class="container">
  {% if account %}
    <div class="alert alert-success">
      <strong>Success! Konto aktywne. </strong> Dziekujemy za rejstracje, możesz sie teraz <a href="/accounts/login/"> zalogować </a>
    </div>
  {% else %}
    <div class="alert alert-danger">
      <strong>Konto NIE atywowane!!</strong> Link do aktywacji jest niepoprawny albo klucz aktywacyjny wygasł.
      Jest on ważny tylko przez dwa dni po rejstracji.
    </div>
  {% endif %}
</div>
{% endblock %}