{% extends "tournament/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">

  <h3>{% trans "Zmień hasło" %}</h3>
  <br>

  {% if form.old_password.errors %}
    <div class="alert alert-danger">
      <p><strong>{% trans "Błąd!" %} </strong> {% trans "Niepoprawne stare hasło" %} </p>
    </div>
  {% endif %}

  {% if form.new_password1.errors or form.new_password2.errors %}
    <div class="alert alert-danger">
      <p><strong>{% trans "Błąd!" %} </strong> {% trans "Nowe hasło nie spełnia wymagań podanych na dole strony lub błędnie potwierdziłeś nowe hasło" %}</p>
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="container-fluid">
    <fieldset class="module aligned">
        <div class="row">
            <div class="col-12 col-md-4 alert alert-warning"><strong>{% trans "Stare hasło:" %}&nbsp;&nbsp;  </strong> {{ form.old_password }}</div>
            <div class="col-12 col-md-4 alert alert-warning"><strong>{% trans "Nowe hasło:" %}&nbsp;&nbsp;  </strong> {{ form.new_password1 }}</div>
            <div class="col-12 col-md-4 alert alert-warning"><strong>{% trans "Potwierdź hasło:" %}&nbsp;&nbsp;  </strong>{{ form.new_password2 }} </div>
        </div>
          <br>
             <input class="btn btn-primary btn-md" type="submit" value="{% trans "Akceptuj" %}" />
             <a href="{{request.META.HTTP_REFERER|escape}}" id="cancel" name="cancel" class="btn btn-default">{% trans "Powrót" %}</a>
        </fieldset>
    </div>

  </form>
  <br><br>
  <div class="jumbotron">
    <li>{% trans "Twoje hasło nie może być zbyt podobne do innych Twoich danych osobowych." %}</li>
    <li>{% trans "Twoje hasło musi zawierać przynajniej 8 znaków." %}</li>
    <li>{% trans "Twoje hasło nie może być powszechnie używanym hasłem." %}</li>
    <li>{% trans "Twoje hasło nie może składać się z samych cyfr." %}</li>
  </div>

</div>

{% endblock %}

{% block content-related %}
{% endblock %}