{% extends "tournament/base.html" %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">

  <h3>Zmaina adresu email</h3>

  <div class="alert alert-info">
    Aktualny adres email dla gracza <strong>{{request.user.username}}</strong> to <strong> {{request.user.email}} </strong>
  </div>


    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email" >
                {% if form.new_email1.errors or form.new_email2.errors  %}
                    <div class="alert alert-danger">
                        {{ form.new_email1.errors }} {{ form.new_email2.errors }}
                    </div>
                {% endif %}
                <div class="row align-items-center">
                    <div class="col-sm-2">Nowy email</div>
                    <div class="col-sm-2">{{ form.new_email1 }}</div>
                </div>
                <br>
                <div class="row align-items-center">
                    <div class="col-sm-2">Potwierdź email</div>
                    <div class="col-sm-2">{{ form.new_email2 }}</div>
                </div>
            </div>

          <br>
             <input class="btn btn-primary btn-md" type="submit" value="Akceptuj" />
        </fieldset>
        </form>

</div>

{% endblock %}

{% block content-related %}
{% endblock %}