{% load i18n %}

{% autoescape off %}
{% blocktrans %}Otrzymales tego maila poniewaz poprosiles o zresetowanie hasla dla konta dla aplikacji "Zaklady Bukmacherskie "u Henia" "{% endblocktrans %}

{% trans "Przejdz na ponizsza strone i wybierz nowe haslo:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Przypominamy nazwe gracza, na wypadek jakbys rowniez zapomial:" %} {{ user.get_username }}

{% trans "Dziekujemy za uzycie naszej aplikacji" %}
/TeamHenio
{% endautoescape %}
