{% extends "registration/base.html" %}

{% block content %}

<div class="container">

  <div class="alert alert-success">
    <strong>Sukces!</strong> Wysłalismy na wskazanego przez Ciebie maila instrukcje do ustawienia hasła.
    Powinieneś wkrótce otrzymac maila (oczywiście jeśli wskazany mail istnieje)
  </div>
  <br>

  <div class="alert alert-info">
    <strong>Info!</strong> Jeśli nie otrzymałeś maila (sprawdź katalog spam), skontaktuj się z administratorem TeamHenio@gmail.com
  </div>

</div>
{% endblock %}